Exercise 1: Prime Numbers

In [10]:
Num = int(input("Enter The Number:"))
if Num > 1:
  for i in range(2,Num):
    if (Num % i) == 0:
      print(Num,"is not a prime number")
      print(i,"times",Num//i,"is",Num)
      break
  else:
      print(Num,"is a prime number")

Enter The Number:12
12 is not a prime number
2 times 6 is 12

Exercise 2: Product of Random Numbers

In [14]:
import random

n = random.randint(0, 30)

print("Random Number between 0 to 30:", n)
print("Random Number between 0 to 30:", random.randint(0, 30))
print("Random Number between 0 to 30:", random.randint(0, 30))

Random Number between 0 to 30: 8
Random Number between 0 to 30: 10
Random Number between 0 to 30: 12

Exercise 3: Squares of Even/Odd Numbers

In [16]:
start = 100
end = 200
#for even numbers
for number in range(start, end + 1):
    if number % 2 == 0:
        square = number ** 2
        print(f"The square of {number} is {square}")
#for odd numbers
for number in range(start, end + 1):
    if number % 2 != 0:
        square = number ** 2
        print(f"The square of {number} is {square}")

The square of 100 is 10000
The square of 102 is 10404
The square of 104 is 10816
The square of 106 is 11236
The square of 108 is 11664
The square of 110 is 12100
The square of 112 is 12544
The square of 114 is 12996
The square of 116 is 13456
The square of 118 is 13924
The square of 120 is 14400
The square of 122 is 14884
The square of 124 is 15376
The square of 126 is 15876
The square of 128 is 16384
The square of 130 is 16900
The square of 132 is 17424
The square of 134 is 17956
The square of 136 is 18496
The square of 138 is 19044
The square of 140 is 19600
The square of 142 is 20164
The square of 144 is 20736
The square of 146 is 21316
The square of 148 is 21904
The square of 150 is 22500
The square of 152 is 23104
The square of 154 is 23716
The square of 156 is 24336
The square of 158 is 24964
The square of 160 is 25600
The square of 162 is 26244
The square of 164 is 26896
The square of 166 is 27556
The square of 168 is 28224
The square of 170 is 28900
The square of 172 is 29584
The square of 174 is 30276
The square of 176 is 30976
The square of 178 is 31684
The square of 180 is 32400
The square of 182 is 33124
The square of 184 is 33856
The square of 186 is 34596
The square of 188 is 35344
The square of 190 is 36100
The square of 192 is 36864
The square of 194 is 37636
The square of 196 is 38416
The square of 198 is 39204
The square of 200 is 40000
The square of 101 is 10201
The square of 103 is 10609
The square of 105 is 11025
The square of 107 is 11449
The square of 109 is 11881
The square of 111 is 12321
The square of 113 is 12769
The square of 115 is 13225
The square of 117 is 13689
The square of 119 is 14161
The square of 121 is 14641
The square of 123 is 15129
The square of 125 is 15625
The square of 127 is 16129
The square of 129 is 16641
The square of 131 is 17161
The square of 133 is 17689
The square of 135 is 18225
The square of 137 is 18769
The square of 139 is 19321
The square of 141 is 19881
The square of 143 is 20449
The square of 145 is 21025
The square of 147 is 21609
The square of 149 is 22201
The square of 151 is 22801
The square of 153 is 23409
The square of 155 is 24025
The square of 157 is 24649
The square of 159 is 25281
The square of 161 is 25921
The square of 163 is 26569
The square of 165 is 27225
The square of 167 is 27889
The square of 169 is 28561
The square of 171 is 29241
The square of 173 is 29929
The square of 175 is 30625
The square of 177 is 31329
The square of 179 is 32041
The square of 181 is 32761
The square of 183 is 33489
The square of 185 is 34225
The square of 187 is 34969
The square of 189 is 35721
The square of 191 is 36481
The square of 193 is 37249
The square of 195 is 38025
The square of 197 is 38809
The square of 199 is 39601

Exercise 4: Word counter

In [19]:
string = "This is a sample text"
print("The original string is : " + string)
res = len(string.split())
print("The number of words in string are : " + str(res))

The original string is : This is a sample text
The number of words in string are : 5

Exercise 5: Check for Palindrome

In [27]:
str = "racecar"

w = ""
for i in str:
    w = i + w

if (str == w):
    print("True")
else:
    print("False")

True